openapi: 3.0.3
info:
  title: Vibe Cooking API
  description: レシピ共有とクッキングコミュニティプラットフォームのAPI
  version: 1.0.0
  contact:
    name: Vibe Cooking Team
    email: contact@vibecooking.com

servers:
  - url: https://api.vibecooking.com/v1
    description: 本番サーバー
  - url: http://localhost:3000/api
    description: 開発サーバー

paths:
  /recipes:
    get:
      summary: レシピ一覧取得
      description: フィルタリング機能付きでレシピ一覧を取得
      parameters:
        - name: category
          in: query
          description: カテゴリーでフィルタ
          schema:
            type: string
            enum: ["前菜", "メイン", "デザート", "ドリンク", "スナック"]
        - name: cuisine
          in: query
          description: 料理の種類でフィルタ
          schema:
            type: string
        - name: difficulty
          in: query
          description: 難易度でフィルタ
          schema:
            type: string
            enum: ["簡単", "普通", "難しい"]
        - name: cookTime
          in: query
          description: 最大調理時間（分）
          schema:
            type: integer
        - name: page
          in: query
          description: ページ番号
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: 1ページあたりのレシピ数
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  recipes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Recipe'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /recipes/{id}:
    get:
      summary: レシピ詳細取得
      description: IDで指定されたレシピの詳細を取得
      parameters:
        - name: id
          in: path
          required: true
          description: レシピID
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'
        '404':
          description: レシピが見つかりません

components:
  schemas:
    Recipe:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        category:
          type: string
          enum: ["前菜", "メイン", "デザート", "ドリンク", "スナック"]
        cuisine:
          type: string
        difficulty:
          type: string
          enum: ["簡単", "普通", "難しい"]
        prepTime:
          type: integer
          description: 準備時間（分）
        cookTime:
          type: integer
          description: 調理時間（分）
        servings:
          type: integer
          description: 人数分
        ingredients:
          type: array
          items:
            $ref: '#/components/schemas/Ingredient'
        instructions:
          type: array
          items:
            $ref: '#/components/schemas/Instruction'
        imageUrl:
          type: string
          format: uri
        tags:
          type: array
          items:
            type: string
        nutritionInfo:
          $ref: '#/components/schemas/NutritionInfo'
        ratings:
          type: object
          properties:
            average:
              type: number
              format: float
            count:
              type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Ingredient:
      type: object
      properties:
        name:
          type: string
          description: 材料名
        amount:
          type: number
          description: 分量
        unit:
          type: string
          description: 単位
        notes:
          type: string
          description: 備考
      required:
        - name
        - amount
        - unit

    Instruction:
      type: object
      properties:
        step:
          type: integer
          description: 手順番号
        description:
          type: string
          description: 手順の説明
        imageUrl:
          type: string
          format: uri
          description: 手順の画像URL
        estimatedTime:
          type: integer
          description: この手順の推定時間（分）
      required:
        - step
        - description

    NutritionInfo:
      type: object
      properties:
        calories:
          type: integer
          description: カロリー
        protein:
          type: number
          description: タンパク質（g）
        carbs:
          type: number
          description: 炭水化物（g）
        fat:
          type: number
          description: 脂質（g）
        fiber:
          type: number
          description: 食物繊維（g）
        sugar:
          type: number
          description: 糖質（g）
        sodium:
          type: number
          description: ナトリウム（mg）

    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: 現在のページ番号
        limit:
          type: integer
          description: 1ページあたりのアイテム数
        total:
          type: integer
          description: 総アイテム数
        pages:
          type: integer
          description: 総ページ数
        hasNext:
          type: boolean
          description: 次のページがあるかどうか
        hasPrev:
          type: boolean
          description: 前のページがあるかどうか